/legacy
*.pyc
Results/*
ex_Fuzzy.egg-info/*
build/*
*.gexf
*.log
checkpoint*
*.pdf
iris_rules.txt
rules_iris_t2.txt
tmp.prof
iris_partitions.txt
.vscode/settings.json
*.gz
test_data_set.csv
Demos/demos_module/Classification_debug.py
Demos/demos_module/Processed_csv.csv
Processed_csv.csv
